
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #083B4C;
}

body h1{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.box{
    background-color: #1389B2;
    padding: 20px;
    text-align: center;
    color: white;
}

.box--green{
    background-color: #0BD6A1;
}

.box--red{
    background-color: #F0466F;
}

.box--yellow{
    background-color: #FFD166;
}