
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #083B4C;
}

body h1{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 25px;
}

section{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
}

.box{
    background-color: #1389B2;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.box:hover{
    border: 1px solid white;
}   


.box--fizz{
    background-color: #0BD6A1;
}

.box--fizzbuzz{
    background-color: #F0466F;
}

.box--buzz{
    background-color: #FFD166;
}